<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>740033564872-epoun7vrqrbdogthqs7sdallba05o9gb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.740033564872-epoun7vrqrbdogthqs7sdallba05o9gb</string>
	<key>API_KEY</key>
	<string>AIzaSyCOb1osSX6AKzZItaPiQs6rLnuZDU79LlY</string>
	<key>GCM_SENDER_ID</key>
	<string>740033564872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sourav.Login-App</string>
	<key>PROJECT_ID</key>
	<string>login-app-64b5f</string>
	<key>STORAGE_BUCKET</key>
	<string>login-app-64b5f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:740033564872:ios:ab74938cd742d5a5</string>
	<key>DATABASE_URL</key>
	<string>https://login-app-64b5f.firebaseio.com</string>
</dict>
</plist>